
/////////////////////////////////////////////////////////
// MINION GRID //////////////////////////////////////////
/////////////////////////////////////////////////////////
#minion-tab-content {
  background-color: $gray-dark-4;
  color: $light-text-primary;
}
#minion-grid-container {
  float: left;
  width: 100%;
  color: $light-text-secondary;
}

#minion-grid {
  float: left;
  width: 100%;
}

#minion-grid-column-headers {
  display: flex;
  z-index: 3;
  position: relative;
  float: left;
  width: 100%;
  background-color: $gray-dark-2;
  @include box-shadow(0 0 3px 1px $box-shadow);
}

.minion-grid-column-header {
  position: relative;
  width: 20%;
}

#minion-image-all {
  position: absolute;
  left: 50%;
  top: 0px;
  width: calc(80% - 16px);
  max-width: 52px;
  height: 100%;

  img {
    position: absolute;
    width: 45%;
    max-width: 24px;
    border-radius: 50%;
  }

  img[data-index="1"] {
    top: calc(12px + 5%);
    left: -25%
  }

  img[data-index="2"] {
    bottom: 26px;
    left: -50%
  }
  img[data-index="3"] {
    bottom: 26px;
    left: 0;
  }
  img.spacer {
    display: block;
    width: 100%;
    width: 52px;
  }

}

.minion-header-image {
  float: left;
  width: 100%;

  padding: 12px 12px 0 12px;
}

.minion-header-image img {
  display: block;
  max-width: 52px;
  width: 80%;
  border-radius: 50%;

  margin-left: auto;
  margin-right: auto;

  @include box-shadow(0 0 3px $box-shadow);
}

.minion-header-content text {
  float: left;
  width: 100%;
  padding: 4px 0;
  text-align: center;
  font-size: 13px;
}

.minion-header-image img.blank {
  @include box-shadow(none);
}

#minion-increment-buttons {
  position: absolute;
  float: left;

  width: 100%;
  height: 100%;
}

.minion-increment-button {
  position: relative;
  float: left;
  width: 50%;
  height: 50%;

  text-align: center;
  color: $light-text-secondary;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  border-right: 1px solid $gray-dark-1;

  @include transition(color 100ms, background-color 350ms, box-shadow 350ms);
}

.minion-increment-button.top {
  border-bottom: 1px solid $gray-dark-1;
}

.minion-increment-button-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 16px;
  line-height: 16px;

  margin: auto;
};

.minion-increment-button.active {
  color: $light-text-primary;
  background-color: $primary-3;
}

.minion-grid-row {
  position: relative;
  float: left;
  width: 100%;
  border-left: 4px solid;
  border-right: 4px solid;
  border-color: $transparent;
  @include transition(border-color 200ms, background-color 200ms, box-shadow 200ms);

  .minion-grid-cell {
    position: relative;
    float: left;
    width: 20%;
    @include transition(height 200ms, line-height 200ms, font-size 200ms);
  }

  .minion-grid-row-primary {
    float: left;
    width: 100%;
    cursor: pointer;
    @include transition(background-color 100ms);

    .minion-grid-cell {
      height: 70px;
      padding: 0 2px;

      text-align: center;
      line-height: 70px;
      font-size: 20px;
    }

    .minion-grid-cell.first {
      text-align: right;
      padding: 0;
      text-transform: uppercase;
      font-size: 16px;

      .fa {
        color: $light-text-primary;
        font-size: 18px;
        width: 30px;
        text-align: center;
        @include transition(font-size 200ms);
      }
    }
  }


  .minion-grid-row-secondary {
    float: left;
    width: 100%;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    @include transition(visibility 200ms, height 200ms);

    .minion-grid-cell {
      float: left;
      height: 50px;

      text-align: center;
      line-height: 50px;
      font-size: 16px;

      padding: 2px 1% 6px 1%;

      .cell-buttons {
        width: 100%;
        height: 100%;
        cursor: default;
        overflow: hidden;
      }

      .cell-button {
        float: left;
        position: relative;
        z-index: 1;
        width: 50%;
        height: 42px;
        line-height: 42px;
        font-size: 14px;

        border-radius: 2px;
        color: $light-text-secondary;
        cursor: pointer;
        overflow: hidden;

        @include transition(color 200ms, background-color 200ms, border-color 200ms);
      }

      .cell-button.disabled,
      .cell-button.disabled:hover,
      .cell-button.disabled:active {
        color: $light-text-disabled;
        border-color: $light-text-disabled;
        cursor: default;
      }

      .add-minion-button {
      }

      .remove-minion-button {
      }
    }

    .minion-grid-cell.first.all {
      width: 40%;

      .cell-content {
        float: left;
        width: 75%;
        height: 42px;

        text-align: right;
        line-height: 42px;
        color: $light-text-secondary;
      }

      .cell-buttons {
        width: 25%;
      }
      .cell-button {
        width: 100%;
        float: right;
      }
    }
  }

  .cell-content {
    width: 100%;
    height: 100%;

    @include transition(background-color 100ms, color 200ms);

    .cell-bar {
      float: left;
      margin-top: 27px;
      margin-left: 5%;
      width: 90%;
      height: 16px;

      border-radius: 8px;

      background-color: $white;
      overflow: hidden;
      @include transition(background-color 200ms, margin-top 200ms);
    }

    .cell-bar.disabled {
      background-color: $light-text-disabled;
    }

    .cell-bar-fill {
      float: left;
      height: 100%;

      background-color: $tertiary-2;
      @include transition(background-color 200ms, width 200ms);
    }

    .cell-bar-fill[data-percent="100.0"] {
      background-color: $tertiary-2;
    }
  }

}

.minion-grid-row:hover {
  border-color: $primary-4;

  .minion-grid-cell {
    color: $light-text-primary;
  }
}

.minion-grid-row.active {
  border-color: $primary-0;
  background-color: $gray-dark-2;
  @include box-shadow(0 0 3px 0 $box-shadow inset);

  .minion-grid-row-primary {
    color: $light-text-primary;

    .minion-grid-cell {
      height: 50px;
      padding: 0 2px;

      text-align: center;
      line-height: 50px;
      font-size: 20px;

      .fa {
        font-size: 20px;
      }

      .cell-bar {
        margin-top: 17px;
      }
    }
    .minion-grid-cell.first {
      text-align: right;
      padding: 0;
    }
  }

  .minion-grid-row-secondary {
    visibility: visible;
    height: 50px;
  }
}

.minion-grid-row[data-building="hut"] {
  @include box-shadow(0 0 3px 0 $box-shadow);

  .minion-grid-row-primary {
    cursor: default;
  }
}
.minion-grid-row[data-building="hut"]:hover {
  border-color: $transparent;

  .minion-grid-cell {
    color: $light-text-secondary;
  }
}

.minion-grid-cell.first .cell-content {
  padding-right: 8%;
}


.minion-grid-row.header {
  display: none;
  border: none;

  .minion-grid-cell {
    line-height: 24px;
    height: 28px;
    font-size: 16px;
    cursor: default;
  }

  .minion-grid-cell.first {
    width: 100%;
    border-top: 1px solid $gray-dark-2;
    // border-bottom: 1px solid $gray-dark-2;
    background-color: $gray-dark-4;
  }


  .cell-content {
    padding-left: 16px;
    color: $light-text-tertiary;
    text-align: left;

  }
}
.minion-grid-section[data-type="research"] {
  display: none;
}




.first .remove-minion-button {
  left: 2px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.all .cell-buttons {
  left: -42px;
}
.all .remove-minion-button {
  left: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.minion-grid-cell.active .cell-buttons {
  visibility: visible;
  opacity: 1;
}

/////////////////////////////////////////////////////////
// CELL PARTIAL /////////////////////////////////////////
/////////////////////////////////////////////////////////
#grid-building-popover {
  visibility: hidden;
  position: absolute;
  float: left;
  opacity: 0;
  width: 240px;

  @include transition(visibility 100ms, opacity 100ms, height 200ms, top 200ms);
}

#grid-building-popover.active {
  visibility: visible;
  position: absolute;
  opacity: 1;
  background-color: $gray-dark-4;

  @include box-shadow(0 0 3px 0 $box-shadow);
}

#grid-building-popover.active:hover {
}


#building-popover-container {
  float: left;
  width: 100%;

  .building-popover-header {
    position: relative;
    float: left;
    width: 100%;
    padding: 8px;

    line-height: 20px;
    font-size: 18px;

    background-color: $primary-0;

    .building-count {
      float: left;
    }
    .close-button {
      position: absolute;
      top: 2px;
      right: 2px;
      width: 30px;
      height: 30px;

      line-height: 24px;
      font-size: 24px;
      text-align: center;
      color: $light-text-secondary;
      cursor: pointer;
      font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    }
    .close-button:hover {
      color: $light-text-primary;
    }
  }

  .building-population-container {
    float:left;
    width: 95%;
    margin-left: 2.5%;
  }

  .building-population-bar {
    float: left;
    width: 100%;
    height: 16px;
    margin-top: 12px;
    border-radius: 8px;

    background-color: $white;
    overflow: hidden;
    @include transition(background-color 200ms);
  }

  .building-population-bar.disabled {
    background-color: $light-text-disabled;
  }

  .building-population-bar-fill {
    float: left;
    height: 100%;

    background-color: $tertiary-2;
    @include transition(background-color 200ms, width 200ms);
  }

  .building-population-bar-fill[data-percent="100.0"] {
    background-color: $tertiary-2;
  }

  .building-population-stats {
    float: left;
    width: 100%;
    padding-top: 6px;
    font-size: 16px;
  }

  .building-population-stat-container {
    float: left;
    width: 46%;
    margin-left: 2%;
  }

  .building-population-slash {
    float: left;
    width: 4%;
    text-align: center;
  }

  .building-capacity-stat-container {
    float: left;
    width: 46%;
    margin-right: 2%;
    text-align: right;
  }

  .building-buy-buttons {
    float: left;
    padding: 4px 8px 8px 8px;
    width: 100%;
  }

  .building-buy-button {
    float: left;
    width: 100%;
    height: 36px;

    padding: 0 8px;
    text-align: left;
    line-height: 36px;
    font-weight: bold;

    margin-top: 8px;

    background-color: $primary-3;
    color: $light-text-secondary;
    cursor: pointer;

    @include box-shadow(0 1px 3px 0 $box-shadow-light);
    @include transition(all 100ms);
  }

  .building-buy-button:hover {
    color: $light-text-primary;
    @include box-shadow(0 1px 4px 0 $box-shadow-light);
  }

  .building-buy-button:active {
    color: $light-text-disabled;
    @include box-shadow(none);
  }

  .building-buy-price {
    float: right;
    width: 70%;
    text-align: right;
  }

}
