/////////////////////////////////////////////////////////
// VARIABLES /////////////////////////////////////////////
/////////////////////////////////////////////////////////

$primary-0: #0484A2;
$primary-1: #4AA4B9;
$primary-2: #2890A8;
$primary-3: #03657C;
$primary-4: #024F62;

$secondary-0: #1141AF;
$secondary-1: #5777C2;
$secondary-2: #355BB4;
$secondary-3: #0D3186;
$secondary-4: #082569;

$tertiary-0: #00BB4C;
$tertiary-1: #4ECB80;
$tertiary-2: #29BF65;
$tertiary-3: #00903A;
$tertiary-4: #00712E;

$gold: #FFDD61;
$knowledge: #33cd5f;
$favor: #6B46E5;

$black: #000;
$white: #fff;
$transparent: rgba(0,0,0,0);

$gray-light-0: #a0a0a0 !default;
$gray-light-1: #a8a8a8 !default;
$gray-light-2: #b0b0b0 !default;
$gray-light-3: #b8b8b8 !default;
$gray-light-4: #c0c0c0 !default;
$gray-light-5: #d8d8d8 !default;
$gray-light-6: #e0e0e0 !default;
$gray-light-7: #e8e8e8 !default;
$gray-light-8: #fafafa !default;
$gray-light-9: #fff !default;

$gray-mid-0: #606060 !default;
$gray-mid-1: #666 !default;
$gray-mid-2: #707070 !default;
$gray-mid-3: #777 !default;
$gray-mid-4: #808080 !default;
$gray-mid-5: #888 !default;
$gray-mid-6: #909090 !default;
$gray-mid-7: #999 !default;
$gray-mid-8: #a0a0a0 !default;
$gray-mid-9: #a8a8a8 !default;

$gray-dark-0: #080808 !default;
$gray-dark-1: #101010 !default;
$gray-dark-2: #1a1a1a !default;
$gray-dark-3: #202020 !default;
$gray-dark-4: #222 !default;
$gray-dark-5: #282828 !default;
$gray-dark-6: #333 !default;
$gray-dark-7: #383838 !default;
$gray-dark-8: #444 !default;
$gray-dark-9: #484848 !default;

$dark-text-primary: rgba(0,0,0,.87) !default;
$dark-text-secondary: rgba(0,0,0,.54) !default;
$dark-text-disabled: rgba(0,0,0,.38) !default;
$dark-divider: rgba(0,0,0,.12) !default;

$light-text-primary: rgba(255,255,255, 1) !default;
$light-text-secondary: rgba(255,255,255,.70) !default;
$light-text-tertiary: rgba(255,255,255,.35) !default;
$light-text-disabled: rgba(255,255,255,.20) !default;

$box-shadow: rgba(0,0,0,.75) !default;
$box-shadow-light: rgba(0,0,0,.5) !default;
