<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <script src="js/vendor/jquery.min.js"></script>


    <!-- <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet"> -->
    <!-- <script src="lib/ionic/js/ionic.bundle.js"></script> -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/classes/building.js"></script>
    <script src="js/classes/game.js"></script>
    <script src="js/classes/monster.js"></script>

  </head>
  <body ng-app="GameApp" ng-controller="GameController">
    <ion-side-menus>
      <!-- Left menu -->
      <ion-side-menu id="stats-sidemenu" expose-aside-when="large">
        <ion-header-bar class="header-bar-dark">
          <h1 class="title">Stats</h1>
        </ion-header-bar>
        <ion-content>
          <div id="minion-timer-container">
            <canvas id="minion-timer-canvas" width="240" height="240">
            </canvas>
            <img id="minion-timer-image" ng-src="{{g.minionImageUrl}}"/>
          </div>
          <div id="population-container" class="sidemenu-container">
            <div id="population-bar">
              <div id="population-bar-fill" data-percent="{{g.getPopulationPercent()}}" style="width:{{g.getPopulationPercent()}}%">
              </div>
            </div>
            <div id="population-stats">
              <div id="minions-stat-container">
                <i class="icon fa fa-user"></i>
                {{g.minionCounts.all}}
              </div>
              <div id="population-slash">/</div>
              <div id="population-stat-container">
                {{g.buildings.hut.capacity}}
                <i class="icon fa fa-building"></i>
              </div>
            </div>
          </div>
          <div id="stats-container" class="sidemenu-container">
            <div id="stat-icon-container">
              <i class="icon fa fa-database"></i></br>
              <i class="icon fa fa-book"></i></br>
              <i class="icon fa fa-bolt"></i>
            </div>
            <div id="stat-value-container">
              <div id="gold-container">
                {{prettyIntCompact(g.gold)}}
              </div>
              <div id="knowledge-container">
                {{prettyIntCompact(g.knowledge)}}
              </div>
              <div id="favor-container">
                {{prettyIntCompact(g.favor)}}
              </div>
            </div>
            <div id="stat-rate-container" class="rate-container">
              <div id="gold-rate-container">
                {{prettyIntCompact(g.goldRate)}} /s
              </div>
              <div id="knowledge-rate-container">
                {{prettyIntCompact(g.knowledgeRate)}} /s
              </div>
              <div id="favor-rate-container">
                {{prettyIntCompact(g.favorRate)}} /s
              </div>
            </div>
          </div>
          <div id="gear-container" class="sidemenu-container" data-active="{{g.buildings.workshop.data.type}}">
            <div id="gear-image-container">
              <div class="gear-image" data-item="machete">
                <img src="img/item/grayscale/Hunter's_Machete.png">
              </div>
              <div class="gear-image" data-item="talisman">
                <img src="img/item/grayscale/Hunter's_Talisman.png">
              </div>
              <div class="gear-image" data-item="blade">
                <img src="img/item/grayscale/Doran's_Blade.png">
              </div>
              <div class="gear-image" data-item="ring">
                <img src="img/item/grayscale/Doran's_Ring.png">
              </div>
              <div class="gear-image" data-item="shield">
                <img src="img/item/grayscale/Doran's_Shield.png">
              </div>
            </div>
            <div id="gear-value-container">
              <div id="machetes-container">
                {{prettyIntCompact(g.gear.machete)}}
              </div>
              <div id="talismans-container">
                {{prettyIntCompact(g.gear.talisman)}}
              </div>
              <div id="blades-container">
                {{prettyIntCompact(g.gear.blade)}}
              </div>
              <div id="rings-container">
                {{prettyIntCompact(g.gear.ring)}}
              </div>
              <div id="shields-container">
                {{prettyIntCompact(g.gear.shield)}}
              </div>
            </div>
            <div id="gear-rate-container" class="rate-container">
              <div class="gear-rate" data-item="machete">
                {{prettyIntCompact(g.gearRate)}} /s
              </div>
              <div class="gear-rate" data-item="talisman">
                {{prettyIntCompact(g.gearRate)}} /s
              </div>
              <div class="gear-rate" data-item="blade">
                {{prettyIntCompact(g.gearRate)}} /s
              </div>
              <div class="gear-rate" data-item="ring">
                {{prettyIntCompact(g.gearRate)}} /s
              </div>
              <div class="gear-rate" data-item="shield">
                {{prettyIntCompact(g.gearRate)}} /s
              </div>
            </div>
          </div>
        </ion-content>
      </ion-side-menu>

      <ion-side-menu-content>
        <ion-header-bar class="header-bar-primary">
          <button class="button button-icon" ng-click="toggleLeftSideMenu()">
            <i class="icon ion-navicon"></i>
          </button>
          <h1 class="title">Minion Village</h1>
          <button class="button button-icon" ng-click="toggleRightSideMenu()">
            <i class="icon fa fa-envelope-o"></i>
          </button>
        </ion-header-bar>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

      <!-- Right menu -->
      <!-- <ion-side-menu side="right">
        <ion-header-bar class="bar-assertive">
          <h1 class="title">Messages</h1>
        </ion-header-bar>
      </ion-side-menu> -->
    </ion-side-menus>
  </body>

  <!-- tab template -->
  <script id="templates/home.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-primary">
      <ion-tab title="Buildings" icon="fa fa-building" href="#/buildings">
        <ion-nav-view name="buildings-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Minions" icon="fa fa-users" href="#/minions">
        <ion-nav-view name="minions-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Missions" icon="fa fa-map" href="#/missions">
        <ion-nav-view name="missions-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </script>

  <!-- buildings tab template -->
  <script id="templates/buildings.html" type="text/ng-template">
    <ion-view view-title="Minion Village - Buildings">








    </ion-view>
  </script>

  <!-- minions tab template -->
  <script id="templates/minions.html" type="text/ng-template">
    <ion-view view-title="Minion Village - Minions">
      <ion-content id="minion-tab-content">
        <div id="minion-grid-container">
          <div id="minion-grid">
            <div id="minion-grid-column-headers">
              <div class="minion-grid-column-header first">
                <div class="minion-header-border-right"></div>
                <div class="minion-header-image">
                  <img class="blank" src="img/blank.png">
                </div>
                <div id="minion-increment-buttons">
                  <div class="minion-increment-button top" ng-class="minionIncrement == 1 ? 'active': ''" ng-click="setMinionIncrement(1)">
                    <div class="minion-increment-button-content">1</div>
                  </div>
                  <div class="minion-increment-button top" ng-class="minionIncrement == 10 ? 'active': ''" ng-click="setMinionIncrement(10)">
                    <div class="minion-increment-button-content">10</div>
                  </div>
                  <div class="minion-increment-button" ng-class="minionIncrement == 100 ? 'active': ''" ng-click="setMinionIncrement(100)">
                    <div class="minion-increment-button-content">100</div>
                  </div>
                  <div class="minion-increment-button" ng-class="minionIncrement == 1000 ? 'active': ''" ng-click="setMinionIncrement(1000)">
                    <div class="minion-increment-button-content">1k</div>
                  </div>
                </div>
              </div>
              <div class="minion-grid-column-header">
                <div class="minion-header-border-left"></div>
                <div class="minion-header-border-right"></div>
                <div class="minion-header-image">
                  <img src="img/monster/Melee_Minion.png">
                </div>
              </div>
              <div class="minion-grid-column-header">
                <div class="minion-header-border-left"></div>
                <div class="minion-header-border-right"></div>
                <div class="minion-header-image">
                  <img src="img/monster/Caster_Minion.png">
                </div>
              </div>
              <div class="minion-grid-column-header">
                <div class="minion-header-border-left"></div>
                <div class="minion-header-border-right"></div>
                <div class="minion-header-image">
                  <img src="img/monster/Siege_Minion.png">
                </div>
              </div>
              <div class="minion-grid-column-header all">
                <div class="minion-header-border-left"></div>
                <div class="minion-header-image">
                  <img class="blank" src="img/blank.png" class="spacer"/>
                  <div id="minion-image-all">
                    <img src="img/monster/Melee_Minion.png" data-index="1"/>
                    <img src="img/monster/Caster_Minion.png" data-index="2"/>
                    <img src="img/monster/Siege_Minion.png" data-index="3"/>
                  </div>
                </div>
              </div>
            </div>

            <div ng-repeat="buildingName in MINION_BUILDINGS" class="minion-grid-row" data-building="{{buildingName}}" ng-click="showMinionRow(buildingName)">
              <div class="minion-grid-cell first">
                <div class="cell-content" ng-bind-html="rowHeaders[buildingName] | rawHtml">
                </div>
              </div>
              <div ng-repeat="minionType in MINION_TYPES" class="minion-grid-cell">
                <div class="cell-content">
                  {{g.minions[buildingName][minionType]}}
                </div>
                <div class="cell-buttons">
                  <div class="add-minion-button cell-button"
                       ng-class="g.buildings[buildingName].hasSpace ? '' : 'disabled'"
                       ng-click="g.moveMinions(minionIncrement, minionType, buildingName)">
                    <i class="fa fa-plus"></i>
                  </div>
                  <div class="remove-minion-button cell-button"
                       ng-class="g.buildings[buildingName].isEmpty ? 'disabled' : ''"
                       ng-click="g.moveMinions(minionIncrement, minionType, null, buildingName)">
                    <i class="fa fa-minus"></i>
                  </div>
                </div>
              </div>
              <div class="minion-grid-cell all">
                <div class="cell-content">
                  <div class="cell-bar" ng-class="g.buildings[buildingName].capacity ? '' : 'disabled'">
                    <div class="cell-bar-fill" data-percent="{{g.getCapacityPercent(buildingName)}}" style="width:{{g.getCapacityPercent(buildingName)}}%">
                    </div>
                  </div>
                </div>
                <div class="cell-buttons">
                  <div class="remove-minion-button cell-button"
                       ng-class="g.buildings[buildingName].isEmpty ? 'disabled' : ''"
                       ng-click="g.moveAllMinions(null, buildingName)">
                    <i class="fa fa-minus"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="grid-building-popover" ng-class="buildingPopoverShown ? 'active' : ''">
          <div id="building-popover-container" data-building=["{{gridSelectedBuilding.name}}"]>
            <div class="building-popover-header">
              <div class="building-count">
              {{prettyIntCompact(gridSelectedBuilding.count)}} {{gridSelectedBuilding.display}}
              </div>
              <div class="close-button" ng-click="showBuildingPopover(null)">&times;</div>
            </div>
            <div class="building-population-container">
              <div class="building-population-bar" ng-class="gridSelectedBuilding.capacity ? '' : 'disabled'">
                <div class="building-population-bar-fill" data-percent="{{g.getCapacityPercent(gridSelectedBuilding.name)}}" style="width:{{g.getCapacityPercent(gridSelectedBuilding.name)}}%">
                </div>
              </div>
              <div class="building-population-stats">
                <div class="building-population-stat-container">
                  <i class="icon fa fa-user"></i>
                  {{g.minions[gridSelectedBuilding.name].all}}
                </div>
                <div class="building-population-slash">/</div>
                <div class="building-capacity-stat-container">
                  {{gridSelectedBuilding.capacity}}
                  <i class="icon fa fa-building"></i>
                </div>
              </div>
            </div>
            <div class="building-buy-buttons">
              <div class="building-buy-button buy-1" ng-click="g.buyBuilding(gridSelectedBuilding.name, 1)">
                Buy 1
                <div class="building-buy-price">
                  <i class="fa fa-database"></i> {{prettyIntCompact(gridSelectedBuilding.cost.gold)}}
                </div>
              </div>
              <div class="building-buy-button buy-1" ng-click="g.buyBuilding(gridSelectedBuilding.name, 10)">
                Buy 10
                <div class="building-buy-price">
                  <i class="fa fa-database"></i> {{prettyIntCompact(gridSelectedBuilding.cost.gold)}}
                </div>
              </div>
              <div class="building-buy-button buy-1" ng-click="g.buyBuilding(gridSelectedBuilding.name, 100)">
                Buy 100
                <div class="building-buy-price">
                  <i class="fa fa-database"></i> {{prettyIntCompact(gridSelectedBuilding.cost.gold)}}
                </div>
              </div>
            </div>
          </div>
        </div>





      </ion-content>
    </ion-view>
  </script>

  <!-- missions tab template -->
  <script id="templates/missions.html" type="text/ng-template">
    <ion-view view-title="Minion Village - missions">








    </ion-view>
  </script>



</html>
