<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <script src="js/vendor/jquery.min.js"></script>


    <!-- <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet"> -->
    <!-- <script src="lib/ionic/js/ionic.bundle.js"></script> -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/classes/building.js"></script>
    <script src="js/classes/game.js"></script>
    <script src="js/classes/monster.js"></script>

  </head>
  <body ng-app="GameApp" ng-controller="GameController">
    <ion-side-menus>
      <!-- Left menu -->
      <ion-side-menu id="stats-sidemenu" expose-aside-when="large">
        <ion-header-bar class="header-bar-dark">
          <h1 class="title">Stats</h1>
        </ion-header-bar>
        <ion-content>
          <div id="minion-timer-container">
            <canvas id="minion-timer-canvas" width="240" height="240">
            </canvas>
            <img id="minion-timer-image" ng-src="{{g.minionImageUrl}}"/>
          </div>
          <div id="population-container" class="sidemenu-container">
            <div id="population-bar">
              <div id="population-bar-fill" style="width:{{g.getPopulationPercent()}}%">
              </div>
            </div>
            <div id="population-stats">
              <div id="minions-stat-container">
                <i class="icon fa fa-user"></i>
                {{g.minionCounts.all}}
              </div>
              <div id="population-slash">/</div>
              <div id="population-stat-container">
                {{g.buildings.hut.capacity}}
                <i class="icon fa fa-home"></i>
              </div>
            </div>
          </div>
          <div id="stats-container" class="sidemenu-container">
            <div id="stat-icon-container">
              <i class="icon fa fa-database"></i></br>
              <i class="icon fa fa-flask"></i></br>
              <i class="icon fa fa-bolt"></i>
            </div>
            <div id="stat-value-container">
              <div id="gold-container">
                {{prettyInt(g.gold)}}
              </div>
              <div id="knowledge-container">
                {{prettyInt(g.knowledge)}}
              </div>
              <div id="favor-container">
                {{prettyInt(g.favor)}}
              </div>
            </div>
            <div id="stat-rate-container">
              <div id="gold-rate-container">
                {{prettyInt(g.goldRate)}} /s
              </div>
              <div id="knowledge-rate-container">
                {{prettyInt(g.knowledgeRate)}} /s
              </div>
              <div id="favor-rate-container">
                {{prettyInt(g.favorRate)}} /s
              </div>
            </div>
          </div>
          <div id="gear-container" class="sidemenu-container" data-active="{{g.buildings.workshop.data.type}}">
            <div id="gear-image-container">
              <div class="gear-image" data-item="machete">
                <img src="img/item/grayscale/Hunter's_Machete.png">
              </div>
              <div class="gear-image" data-item="talisman">
                <img src="img/item/grayscale/Hunter's_Talisman.png">
              </div>
              <div class="gear-image" data-item="blade">
                <img src="img/item/grayscale/Doran's_Blade.png">
              </div>
              <div class="gear-image" data-item="ring">
                <img src="img/item/grayscale/Doran's_Ring.png">
              </div>
              <div class="gear-image" data-item="shield">
                <img src="img/item/grayscale/Doran's_Shield.png">
              </div>
            </div>
            <div id="gear-value-container">
              <div id="machetes-container">
                {{prettyInt(g.gear.machete)}}
              </div>
              <div id="talismans-container">
                {{prettyInt(g.gear.talisman)}}
              </div>
              <div id="blades-container">
                {{prettyInt(g.gear.blade)}}
              </div>
              <div id="rings-container">
                {{prettyInt(g.gear.ring)}}
              </div>
              <div id="shields-container">
                {{prettyInt(g.gear.shield)}}
              </div>
            </div>
            <div id="gear-rate-container">
              <div class="gear-rate" data-item="machete">
                {{prettyInt(g.gearRate)}} /s
              </div>
              <div class="gear-rate" data-item="talisman">
                {{prettyInt(g.gearRate)}} /s
              </div>
              <div class="gear-rate" data-item="blade">
                {{prettyInt(g.gearRate)}} /s
              </div>
              <div class="gear-rate" data-item="ring">
                {{prettyInt(g.gearRate)}} /s
              </div>
              <div class="gear-rate" data-item="shield">
                {{prettyInt(g.gearRate)}} /s
              </div>
            </div>
          </div>
        </ion-content>
      </ion-side-menu>

      <ion-side-menu-content>
        <ion-header-bar class="header-bar-primary">
          <button class="button button-icon" ng-click="toggleLeftSideMenu()">
            <i class="icon ion-navicon"></i>
          </button>
          <h1 class="title">Minion Village</h1>
          <button class="button button-icon" ng-click="toggleRightSideMenu()">
            <i class="icon fa fa-envelope-o"></i>
          </button>
        </ion-header-bar>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>

      <!-- Right menu -->
      <!-- <ion-side-menu side="right">
        <ion-header-bar class="bar-assertive">
          <h1 class="title">Messages</h1>
        </ion-header-bar>
      </ion-side-menu> -->
    </ion-side-menus>
  </body>

  <!-- tab template -->
  <script id="templates/home.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-primary">
      <ion-tab title="Buildings" icon="fa fa-building" href="#/buildings">
        <ion-nav-view name="buildings-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Minions" icon="fa fa-users" href="#/minions">
        <ion-nav-view name="minions-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Missions" icon="fa fa-map" href="#/missions">
        <ion-nav-view name="missions-tab"></ion-nav-view>
      </ion-tab>

    </ion-tabs>
  </script>

  <!-- buildings tab template -->
  <script id="templates/buildings.html" type="text/ng-template">
    <ion-view view-title="Minion Village - Buildings">








    </ion-view>
  </script>

  <!-- minions tab template -->
  <script id="templates/minions.html" type="text/ng-template">
    <ion-view view-title="Minion Village - Minions">
      <ion-content id="minion-tab-content">
        <div id="minion-grid-container">
          <div id="minion-grid">
            <div id="minion-grid-column-headers">
              <div class="minion-grid-column-header">
              </div>
              <div class="minion-grid-column-header">
                <div class="minion-header-image">
                  <img src="img/monster/Melee_Minion.png">
                </div>
              </div>
              <div class="minion-grid-column-header">
                <div class="minion-header-image">
                  <img src="img/monster/Caster_Minion.png">
                </div>
              </div>
              <div class="minion-grid-column-header">
                <div class="minion-header-image">
                  <img src="img/monster/Siege_Minion.png">
                </div>
              </div>
              <div class="minion-grid-column-header">
                <div class="minion-header-image">
                  <img src="img/blank.png" class="spacer"/>
                  <div id="minion-image-all">
                    <img src="img/monster/Melee_Minion.png" data-index="1"/>
                    <img src="img/monster/Caster_Minion.png" data-index="2"/>
                    <img src="img/monster/Siege_Minion.png" data-index="3"/>
                  </div>
                </div>
              </div>
            </div>

            <div ng-repeat="buildingName in MINION_BUILDINGS" class="minion-grid-row">
              <div class="minion-grid-cell first" ng-bind-html="getRowHeader(buildingName) | rawHtml">
              </div>
              <div ng-repeat="minionType in MINION_TYPES" class="minion-grid-cell">
                {{g.minions[buildingName][minionType]}}
              </div>
              <div class="minion-grid-cell">
                {{g.minions[buildingName].all}}
              </div>
            </div>

          </div>
        </div>






      </ion-content>
    </ion-view>
  </script>

  <!-- missions tab template -->
  <script id="templates/missions.html" type="text/ng-template">
    <ion-view view-title="Minion Village - missions">








    </ion-view>
  </script>



</html>
